body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
}

.logo {
position: relative;
top: 10px;
left: 20px;
}

.footer-divider {
    width: 150px;
    height: 0.1px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 0;
}

.dash{
    color: #EC9309;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    position: relative;
   

}

.sidebar {
    width: 100px;
    background-color: #494949;
    color: #fff;
    padding: 20px;
    min-height: 705px;    
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    top: 50px;
    transition: background-color 0.3s;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.upload-pet {
    display: flex;
}

.input-form {
    flex: 1;
    padding-right: 20px; /* Add some space between input form and image upload */
}

.image-upload {
    flex: 1;
    position: relative;
    left: 50px;
    margin-left: 20px;
    margin-right: 50px;
}
/* Add styles for the upload image button */
.image-upload label {
    display: inline-block;
    background-color: #FFD697;
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 0.3s;
}

.image-upload label:hover {
    background-color: #EC9309;
}

.image-upload label:active {
    transform: translateY(2px);
}

/* Adjust position */
.image-upload label {
    margin-top: 10px;
}


.image-upload input[type="file"] {
    margin-bottom: 10px;
}

.uploaded-image {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    background-color: #f2f2f2;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    left: 50px;
    background-image: url('images/upload.webp'); /* Path to your default image icon */
    border: 2px solid #ccc; /* Border style */
}


/* Hide input[type="file"] by default */
.image-upload input[type="file"] {
    display: none;
}



button {
    width: 300px;
    padding: 10px 20px;
    background-color: #FFD697;
    border: none;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

button:hover {
    background-color: #EC9309;
}


#contactTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust as needed */
  }
  
  #contactTable th, #contactTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #contactTable th {
    background-color: #f2f2f2; /* Light gray background for header */
  }
  
  #contactTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row background color */
  }
  
  #contactTable tbody tr:hover {
    background-color: #ddd; /* Hover color */
  }
  
  #applicationsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #applicationsTable th, #applicationsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  #applicationsTable th {
    background-color: #f2f2f2;
  }
  
  #applicationsTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #applicationsTable tbody tr:hover {
    background-color: #ddd;
  }
  
#listing-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 20px; /* Adjusted top position */
}

/* Assuming each pet card has a fixed width */
.pet-card {
    width: calc(25% - 20px); /* Adjusted width calculation for responsive cards */
    margin-bottom: 20px; /* Adjust margin between cards */
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.14);
    height: 380px;
    position: relative;
}


.pet-image {
    width: 100%;
    height: 60%; /* Adjust the height as needed */
    position: relative;
    overflow: hidden;
}

.pet-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 15px 15px 0 0; /* Adjust border-radius to match pet-card */
}

.pet-details {
    padding-left: 20px;
    padding-top: 10px;
    top: 50px;
}

.pet-name {
    color: #494949;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 35px;
    word-wrap: break-word;
}

.pet-info {
    color: #858383;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word;
}

/* Flex container */
#listing-container {
    display: flex;
    flex-wrap: wrap; /* Wrap items to new line */
    justify-content: space-between; /* Distribute items evenly */
}


.delete-button {
    width: 270px;
    height: 28px;
    left: 18px;
    top: 340px;
    position: absolute;
    background: #ff0000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    color: #fff;
}

.delete-button:hover {
    background: #b40404;
}