body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
    display: flex;
}

.logo {
position: relative;
top: 10px;
left: 20px;
}

.footer-divider {
    width: 100%;
    height: 0.1px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 0;
}

.dash{
    color: #EC9309;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word;
    position: relative;
   

}

.sidebar {
    width: 100px;
    background-color: #494949;
    color: #fff;
    padding: 20px;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    top: 50px;
    transition: background-color 0.3s;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: 300px;
    padding: 10px 20px;
    background-color: #FFD697;
    border: none;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

button:hover {
    background-color: #EC9309;
}


.stats {
    display: flex;
    justify-content: space-between;
}

.stat {
     background: #FFD697;    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
.stat1 {
    background: #FFD697;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    left: -700px;
}

/* Add a class to style the table */
.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

/* Add a class to style the visible state */
.user-list {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.user-list li:hover {
    background-color: #eaeaea;
}
